:root {
    --dark: #383F51;       /* Glavna tamna nijansa */
    --light: #DDDBF1;      /* Svetla pozadina */
    --primary: #3C4F76;    /* Plava/neutralna nijansa */
    --accent: #D1BEB0;     /* Akcenat - nežna bež */
    --muted: #AB9F9D;      /* Sekundarni tekst ili pasivne boje */
}

body {
    margin: 0;
    background: linear-gradient(135deg, var(--accent), var(--light));
    color: var(--dark);
    font-family: 'Segoe UI', sans-serif;
}